* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  margin: 2rem;
}

/* Containers */

.main-container {
  display: flex;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60vw;
  background: rgb(228, 216, 197);
  background: linear-gradient(
    0deg,
    rgba(228, 216, 197, 1) 2%,
    rgba(255, 255, 255, 1) 100%
  );
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 50vw;
  height: 100vh;
  background: rgb(228, 216, 197);
  background: linear-gradient(
    0deg,
    rgba(228, 216, 197, 1) 2%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

/* Article */

.article-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.label {
  font-size: 15px;
  font-weight: bold;
  margin-top: 1rem;
}

.input {
  width: 500px;
  padding: 0.5rem;
  border: none;
  margin-top: 0.7rem;
  outline: none;
}

/* Component Choise */

.button-container {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 1.5rem 2rem;
  margin: 1rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: #dddddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

/* Font-Rules */

.font-rule-container {
  display: flex;
  flex-direction: column;
}

.size-container {
  display: flex;
  flex-direction: column;
}
