@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Trispace', serif;
  margin-top: 2rem;
  color: #aaaaaa;
}

h2 {
  font-family: 'Trispace', serif;
  margin-top: 8rem;
  margin-bottom: 2rem;
  color: 'black';
}

/* Containers */

.main-container {
  display: flex;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60vw;
  background: rgb(228, 216, 197);
  background: linear-gradient(
    0deg,
    rgba(228, 216, 197, 1) 2%,
    rgba(255, 255, 255, 1) 100%
  );
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 50vw;
  height: 100vh;
  background: rgb(228, 216, 197);
  background: linear-gradient(
    0deg,
    rgba(228, 216, 197, 1) 2%,
    rgba(255, 255, 255, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

/* Article */

.article-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.label {
  font-size: 15px;
  font-weight: bold;
  margin-top: 1rem;
  font-family: 'Trispace', serif;
}

.input {
  width: 500px;
  padding: 0.5rem;
  border: none;
  margin-top: 1rem;
  outline: none;
}

/* Component Choise */

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.button {
  padding: 1rem 1.5rem;
  margin: 1rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: #9ba4b4;
  margin-right: 4rem;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}

/* Font-Rules */

.font-rule-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

/* Size-rule */
.size-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

/* color-rule */

.color-container {
  margin-top: 4rem;
}

.pick {
  margin-left: 1rem;
}

/* Options-container */

.options-container {
  padding: 4rem;
}

.fontButton {
  padding: 1rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2rem;
  background-color: #9ba4b4;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  opacity: 0.6;
}

.fontRuleTwo {
  margin-bottom: 1rem;
}

.fontRule {
  margin-left: 4rem;
}

.activated-styled {
  padding: 1rem 1.5rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2rem;
  background-color: 'black';
  color: 'white';
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  opacity: 1;
}

/* Activated Component */

.activated-component {
  background-color: black;
  color: white;
  opacity: 1;
}

input[type='range'] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 500px; /* Full-width */
  height: 8px; /* Specified height */
  background: #f1f6f9; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
input[type='range']:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* Theinput[type=range] handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 25px; /* Set a specificinput[type=range] handle width */
  height: 25px; /*input[type=range] handle height */
  background: #14274e; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type='range']::-moz-range-thumb {
  width: 100px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.separation-line {
  width: 90%;
  height: 5px;
  background-color: black;
}

select {
  background-color: #f1f6f9;
  border: none;
  font-family: 'Trispace', serif;
  height: 25px;
  margin-top: 1rem;
}

.toggle-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* code snippet */

.code_snippet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  border: 2px solid #bbbb;
  background-color: #ffff;
  font-size: 16px;
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
  text-align: left;
  padding: 2rem 1rem;
  margin: 3rem 0;
}

.code_snippet pre {
  overflow-x: auto;
  tab-size: 2;
}

/* intro  */

.intro {
  font-family: 'Trispace';
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid #bbbb;
  line-height: 1.5rem;
  width: 40vw;
  padding: 2rem 1rem;
  margin-top: 5rem;
  font-size: 18px;
}

.intro_span {
  border: 1px solid #cccccc;
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem 0;
}

.intro_welcome {
  text-align: center;
  margin-bottom: 1rem;
}
